@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@Ajax.ActionLink("Display All","All",new AjaxOptions() {
    HttpMethod="POST",
    UpdateTargetId="myDiv",
    InsertionMode=InsertionMode.Replace

})
@Ajax.ActionLink("Display Top3","Top3",new AjaxOptions() {
    HttpMethod="POST",
    UpdateTargetId="myDiv",
    InsertionMode=InsertionMode.Replace

})


<div id="myDiv">

</div>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>